<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <!--APPLICATION PROPERTIES CONFIGURATION FILES-->
    <context:property-placeholder
            location="classpath*:properties/databaseProperties.properties
             ,classpath*:properties/application.properties"/>

    <import resource="classpath*:/spring/applicationContext-web.xml"/>
    <import resource="classpath*:/spring/applicationContext-security.xml"/>

    <import resource="classpath*:/spring/applicationContext-dataSource.xml"/>
    <import resource="classpath*:/spring/applicationContext-persistance.xml"/>

</beans>