<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <http pattern="/css/**" security="none"/>
    <http pattern="/images/**" security="none"/>
    <http pattern="/index.jsp*" security="none"/>

    <http auto-config="true">
        <intercept-url pattern="/welcome.do" access="ROLE_USER,ROLE_ADMIN,ROLE_SUPERADMIN"/>
        <intercept-url pattern="/superadmin/*" access="ROLE_SUPERADMIN"/>
        <intercept-url pattern="/admin/*" access="ROLE_ADMIN,ROLE_SUPERADMIN"/>
        <intercept-url pattern="/user/*" access="ROLE_USER,ROLE_ADMIN,ROLE_SUPERADMIN"/>
        <intercept-url pattern="/**.do" access="ROLE_USER,ROLE_ADMIN,ROLE_SUPERADMIN"/>
        <access-denied-handler error-page="/accessViolation.do"/>

        <form-login login-page="/login.do"
                    login-processing-url="/j_security_check"
                    default-target-url="/welcome.do"
                    authentication-failure-url="/loginFailed.do"/>

        <logout invalidate-session="true"
                logout-success-url="/login.do"
                logout-url="/logout.do"
                delete-cookies="JSESSIONID"/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsService"/>
    </authentication-manager>

    <user-service id="userDetailsService">
        <!--adarsh admin and user are injected to db by seed data injector-->
        <user name="adarsh" password="radha" authorities="ROLE_SUPERADMIN"/>
        <user name="admin" password="admin" authorities="ROLE_ADMIN"/>
        <user name="user" password="user" authorities="ROLE_USER"/>
        <user name="amit" password="amit" authorities="ROLE_USER"/>
    </user-service>

</beans:beans>
