body {
    margin: 0;
    padding: 0;
    background-color:#dbd3fb;
    color: #007AAB;
    font-family: trebuchet ms, verdana, tahoma, sans;
    font-size: 16px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#header h1 {
    margin: 0;
    text-align: center;
    background: #bbb;
    color: #fff;
    padding: 0.5em;
    font-size: 1.2em;
}

#content {
    margin-top: 2.7em;
    padding: 1em;
}

#menu+#content {
    margin-top: 4em;
    margin-bottom: 2.5em;
}

#leftContent {
    float: left;
    width: 20%;
    left: 0;
}

#rightContent {
    float: right;
    width: 80%;
    right: 0;
}


#menu {
    margin-top: 0;
    padding: 0 1em;
    overflow: hidden;
    background: #007AAB;
    position: fixed;
    left: 0;
    top: 2.7em;
    width: 100%;
}

#menu .left {
    float: left;
}

#menu .right {
    float: right;
}

#menu a {
    margin: 0 0.2em;
    color: #fff;
    font-size: 0.8em;
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}

#footer .footer {
    font-size: 0.6em;
    text-align: center;
    background: #bbb;
    color: #fff;
    padding: 0.5em;
}

input[type=text],
input[type=password],
select {
    border: 1px solid #777;
    padding: 0.2em;
    width: 210px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=submit],
input[type=reset],
input[type=button],
button {
    padding-left: 1em;
    padding-right: 1em;
}

.form_table {
}

.form_table td {
    padding: 0.2em 0;
}

.form_table .button_panel {
    padding-left: 72px
}

.form_table .button_panel input {
    margin: 0 0.3em;
}

select.auto {
    width: auto;
    font-size: 0.7em;
}

.dataTable {
    background: #ffffff;
}