<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd
                        http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <annotation-driven/>
    
    <resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/>
    <resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>

    <beans:bean id="configuration"
                class="springfox.documentation.swagger2.configuration.Swagger2DocumentationConfiguration"/>

    <beans:bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <beans:property name="prefix" value="/WEB-INF/views/"/>
        <beans:property name="suffix" value=".jsp"/>
    </beans:bean>

    <beans:bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <beans:property name="messageConverters">
            <beans:list>
                <beans:bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
            </beans:list>
        </beans:property>
    </beans:bean>
</beans:beans>
