<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- Register the Customer.properties -->
    <bean id="messageSource"
          class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="message"/>
    </bean>

    <bean class="com.adarsh.spring.controller.FileUploadController">
        <property name="formView" value="FileUploadForm"/>
        <property name="successView" value="FileUploadSuccess"/>

        <!-- Map a validator -->
        <property name="validator">
            <bean class="com.adarsh.spring.validator.FileUploadValidator"/>
        </property>
    </bean>

</beans>