<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- Appenders -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <param name="threshold" value="trace"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{dd-MMM-yy hh:mm:ss} %c{1}:%M:%L %m%n"/>
            <!-- <param name="ConversionPattern" value="%-5p %d{dd-MMM-yy hh:mm:ss} %c:%M:%L%n%m%n" /> -->
        </layout>
    </appender>


    <appender name="LOGFILE" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="1024MB"/>
        <param name="File" value="app.log"/>
        <param name="BufferedIO" value="true"/>
        <param name="BufferSize" value="1024"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{dd-MMM-yy hh:mm:ss} %c:%M:%L %m%n"/>
        </layout>
    </appender>

    <!-- Application Loggers -->
    <logger name="com.spring">
        <level value="INFO"/>
    </logger>

    <logger name="org">
        <level value="WARN"/>
    </logger>

    <logger name="org.springframework">
        <level value="INFO"/>
    </logger>

    <logger name="net.sf.ehcache.hibernate">
        <level value="INFO"/>
    </logger>
    <logger name="com.mysql">
        <level value="DEBUG"/>
    </logger>

    <logger name="org.hibernate.cache">
        <level value="INFO"/>
    </logger>

    <logger name="org.springframework.core">
        <level value="INFO"/>
    </logger>

    <logger name="org.springframework.beans">
        <level value="INFO"/>
    </logger>
    <logger name="org.springframework.beans.factory">
        <level value="INFO"/>
    </logger>


    <logger name="org.springframework.context">
        <level value="INFO"/>
    </logger>

    <logger name="org.springframework.jdbc">
        <level value="INFO"/>
    </logger>

    <logger name="org.springframework.orm">
        <level value="INFO"/>
    </logger>

    <logger name="org.springframework.web">
        <level value="INFO"/>
    </logger>

    <logger name="org.springframework.web.servlet">
        <level value="INFO"/>
    </logger>
    <logger name="org.springframework.web.servlet.view">
        <level value="INFO"/>
    </logger>

    <logger name="org.springframework.security">
        <level value="INFO"/>
    </logger>


    <!-- Root Logger -->
    <root>
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGFILE"/>
    </root>


</log4j:configuration>
